# Folders
.git
.github
front
**/build
**/node_modules
**/tests
copyfiles

# Files
.dockerignore
.editorconfig
.eslint*
.gitignore
.prettierignore
.prettierrc.json
Dockerfile
docker-compose.yml
README.md
**/*.log
