# Folders
.git
.github
addons
build
node_modules
tests

# Files
.dockerignore
.editorconfig
.eslint*
.gitignore
.prettierignore
.prettierrc.json
ace-manifest.json
Dockerfile
docker-compose.yml
README.md
*.log
