<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>System configuration</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/posts" method="POST">
      <h1 id="message">System configuration</h1>
      <small id="smallMessage"> </small>
      <div class="field">
        <input
          type="password"
          name="password"
          placeholder="Admin password"
          id="password"
        />
        <label for="body">Admin password </label>
      </div>

      <button type="submit">Login</button>
    </form>
  </body>
</html>
