<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>System configuration</title>
    <link rel="stylesheet" href="/tailwind.out.css" />
  </head>
  <body>
    @section('content')
    @endsection
  </body>
</html>
