<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>System configuration</title>
    <link rel="stylesheet" href="/tailwind.out.css" />
  </head>
  <body>
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="sm:block sm:ml-6">
              <div class="flex">
                <a href="/admin/config" class="{{ 'ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 ' + (request.url() === '/admin/config' ? 'text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out') }}">Configuration</a>
                <a href="/admin/addons" class="{{ 'ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 ' + (request.url() === '/admin/addons' ? 'text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out' : 'text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out') }}">Addons</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    @section('content')
    @endsection
  </body>
</html>
